POSTGRES_USER=postgres
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=feed
POSTGRES_PORT=5432
BACKEND_HOST_PORT=9000
ConnectionStrings__PostgresDbConnection=Host=localhost;Port=5432;Database=feed;Username=postgres;Password=YOUR_POSTGRES_PASSWORD
AccessTokenOptions__JwtOptions__SecretKey=YOUR_JWT_SECRET_KEY
AccessTokenOptions__JwtOptions__ExpiresHours=24
EmailProviderOptions__Host=YOUR_EMAIL_HOST
EmailProviderOptions__Port=YOUR_EMAIL_PORT
EmailProviderOptions__EnableSsl=true
EmailProviderOptions__Credentials__Address=YOUR_SENDER_ADDRESS
EmailProviderOptions__Credentials__Password=YOUR_SENDER_PASSWORD