POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
JWT_SECRET_KEY=YOUR_JWT_SECRET_KEY
EMAIL_HOST=YOUR_EMAIL_HOST
EMAIL_PORT=YOUR_EMAIL_PORT
ENABLE_SSL=true
SENDER_ADDRESS=YOUR_SENDER_ADDRESS
SENDER_PASSWORD=YOUR_SENDER_PASSWORD